@mixin animation($animationName) {
    -webkit-animation: $animationName $boxAnimationDuration;
    -moz-animation: $animationName $boxAnimationDuration;
    animation: $animationName $boxAnimationDuration;
}
